.feedback_wrap {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.feedback_title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btnlist {
  display: flex;
  gap: 15px;
}

.button {
  display: flex;
  justify-content: center;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  border-color: transparent;
  background-color: rgb(107, 110, 110);
  color: aliceblue;
  margin-bottom: 20px;
}

.stat_title {
  font-size: 40px;
  font-weight: bold;
}

.stat_text {
  font-size: 18px;
}
